.resultsContainer {
  align-items: center;
  text-align: center;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.resultsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resultsBox input {
  width: 310px;
}

.resultsBox label {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.conversionTxt {
  padding: 0.5em;
  font-size: 26px;
}
