input,
label {
  display: block;
}

.searchBox {
  padding: 0 0.5em;
  margin: auto;
  text-align: left;
}

.searchBox button {
  margin-top: 5px;
}

.searchBox select {
  width: 330px;
}

.searchContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  text-align: center;
}

.searchBox label {
  padding-bottom: 0.5em;
}
